<div class="uk-section uk-padding-small footer">
    <div class="uk-container">
        <div class="uk-flex-between uk-flex-middle" uk-grid>
            <div>
                <p class="uk-margin-remove-bottom">&copy; 2020 SkillsReactor, LLC</p>
            </div>
            <div>
                <ul class="uk-subnav uk-subnav-divider" uk-margin>
                    <li><a href="https://app.termly.io/document/cookie-policy/5e36ade6-6b2d-423b-b9f1-f20624f6ee58" target="_blank">Cookie Policy</a></li>
                    <li><a href="https://app.termly.io/document/privacy-policy/652c8046-f3c1-4282-ae42-47d30a7a6a07" target="_blank">Privacy Policy</a></li>
                    <li><a href="https://app.termly.io/document/terms-of-use-for-website/b35c8596-728c-448d-95d8-9b64ed42158c">Terms and Conditions</a></li>
                </ul>
            </div>
            <div>
                <a href="https://twitter.com/SkillsReactor" class="uk-icon-button uk-margin-small-right" uk-icon="icon: twitter; ratio: 1.2">
                <a href="https://github.com/skillsreactor" class="uk-icon-button uk-margin-small-right" uk-icon="icon: github; ratio: 1.2"></a>
                <a href="https://www.youtube.com/channel/UCpaabVZEeuXqlv8VPQvtTdQ" class="uk-icon-button uk-margin-small-right" uk-icon="icon: youtube; ratio: 1.2"></a>
            </div>
        </div>
    </div>
</div>