html, body {
    height: 100%;
  }
body {
    display: flex;
    flex-direction: column;
}
.page-content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
    background-color: #002b36;
    color: #839496;
}

.uk-text-lead {
    font-weight: 300;
}

.uk-section-extra-muted {
    background-color: #073642;
}