html, body {
    height: 100%;
  }
body {
    display: flex;
    flex-direction: column;
}
.page-content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
    background-color: #002b36;
    color: #839496;
}

.uk-text-lead {
    font-weight: 300;
}

.uk-section-extra-muted {
    background-color: #073642;
}

// Add a extra large list for lists of cards.
$list-xlarge-margin-top: 40px;
.uk-list-xlarge > :nth-child(n+2),
.uk-list-xlarge > * > ul { margin-top: $list-xlarge-margin-top; }
.uk-list-xlarge.uk-list-striped > * { padding: $list-large-striped-padding-vertical $list-large-striped-padding-horizontal; }
.uk-list-xlarge.uk-list-striped > :nth-child(n+2) { margin-top: 0; }

// Give a little more line height in articles.
.uk-article p { line-height: 1.7; }