---
layout: default
---
<section class="uk-section">
  <div class="uk-container">
    
    <article class="uk-article" itemscope itemtype="http://schema.org/BlogPosting">
      <header>
        {%- include breadcrumbs.html -%}
        <h1 class="uk-article-title" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="uk-article-meta">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
            {{ page.date | date: date_format }}
          </time>
          {%- if page.author -%}
          • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span
              itemprop="name">{{ page.author }}</span></span>
          {%- endif -%}
        </p>
        {%- if page.lead -%}
        <p class="uk-text-lead">
          {{ page.lead }}
        </p>
        {%- endif -%}
      </header>

      <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
      </div>

      {% assign recommended = site.tags[page.recommended_tag] %}
      {%- if recommended -%}
        <section class="uk-section">
          {%- if recommended.size > 1 or recommended[0].url != page.url -%}
            <h3 class="uk-heading-line uk-text-secondary uk-margin-large-top uk-margin-medium-bottom"><span>Continue Reading</span></h3>
            <ul class="uk-list uk-list-large">
            {%- for post in recommended -%}
              {%- if post.url != page.url -%}
                <li>{%- include post-preview.html -%}</li>
              {%- endif -%}
            {%- endfor -%}
            </ul>
          {%- endif -%}
        </section>

      {%- endif -%}

      {%- if site.disqus.shortname -%}
        {%- include disqus_comments.html -%}
      {%- endif -%}
      <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
    </article>
  </div>
</section>