---
layout: default
---
<section class="uk-section">
  <div class="uk-container">
    <article class="uk-article" itemscope itemtype="http://schema.org/BlogPosting">
      <header>
        <h1 class="uk-article-title" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="uk-article-meta">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
            {{ page.date | date: date_format }}
          </time>
          {%- if page.author -%}
          • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span
              itemprop="name">{{ page.author }}</span></span>
          {%- endif -%}
        </p>
        {%- if page.lead -%}
        <p class="uk-text-lead">
          {{ page.lead }}
        </p>
        {%- endif -%}
      </header>
      <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
      </div>
      {% assign recommended = site.tags[page.recommended_tag] %}
      {%- if recommended -%}
        <h3 class="uk-heading-line uk-text-secondary uk-margin-large-top uk-margin-medium-bottom"><span>Continue Reading</span></h3>
        {%- for post in recommended -%}
        <div>
          {%- include post-preview.html -%}
        </div>
        {%- endfor -%}
      {%- endif -%}

      {%- if site.disqus.shortname -%}
        {%- include disqus_comments.html -%}
      {%- endif -%}
      <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
    </article>
  </div>
</section>